
body {
  font-size: 17px;
  line-height: 1.47059;
  font-weight: 400;
  letter-spacing: -0.022em; 
  font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-style: normal;
  background-color: #FBFBFD;
}
*
{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
 
}


button
{
    border-radius: 50px;
}
h6
{
    font-size: 50%;
    word-spacing: 55px;
}
.movie
{
    display: flex;
    align-items: flex-end;
}
footer a
{
  /* font-size: 0px; */
  text-decoration: none;
  color: #6c6868;
}


.bk
{
  
    position: relative;
    text-align: center;
    color: white;
  
}
.cen {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


@media (max-width: 576px) {
    /* For small devices (sm) and above */
    .diff {
      /* Adjust the styles for col-sm-12 */
      color: aqua;
      max-width: 100%;
    }
  }
  
  @media (min-width: 768px) {
    /* For medium devices (md) and above */
    .diff {
      /* Adjust the styles for col-md-6 */
      max-width: 50%;
    }
  }
  