body {
    font-size: 17px;
    line-height: 1.47059;
    font-weight: 400;
    letter-spacing: -0.022em; 
    font-family: "SF Pro Text", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-style: normal;
    background-color: #FBFBFD;
}
*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
   
}


.navbar-nav {
    margin: auto;
    display: flex;
    justify-content: center;
  }







